* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 550px;

    /* LIGHT GRADIENT */
    background: linear-gradient(135deg, #f8ebff, #ffffff);

    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

/* DARK GRADIENT */
.todo-app::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(135deg, #1f1d20, #000000);

    opacity: 0;
    transition: opacity 0.4s ease;

    z-index: 0;
}

/* Semua isi todo-app berada di atas gradient */
.todo-app > * {
    position: relative;
    z-index: 1;
}

.todo-app h2 {
    color: var(--font-color-2);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

:root {
    --secondary-color: #ed4305;
    --font-color-1: #eaeaea;
    --font-color-2: #292828;
}

/* DARK MODE */
.dark-theme {
    --secondary-color: #f9f9f9;
    --font-color-1: #000000;
    --font-color-2: #ffffff;
}

/* Aktifkan dark gradient */
.dark-theme .todo-app::before {
    opacity: 1;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;
}

#mode {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;

    transition: background-color 0.3s ease;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--secondary-color);
    color: var(--font-color-1);
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font-color-2);

    transition: color 0.3s ease;
}

.clearTools {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.clearBtn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--secondary-color);
    color: var(--font-color-1);
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.clearAll {
    border: none;
    outline: none;
    padding: 0px;
    background: var(--secondary-color);
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;

    transition: background-color 0.3s ease;
}

.clearTools button img {
    width: 50px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color: var(--font-color-2);
    position: relative;

    transition: color 0.3s ease;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(../assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #7a7878;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../assets/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}